@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
  padding: 1rem;
  background-color: rgba(218, 218, 218, 0.486);
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-toggler {
  border-color: none;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../public/luis-reyes-mTorQ9gFfOg-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/luis-reyes-mTorQ9gFfOg-unsplash.jpg);
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.hero .hero-title {
  padding: 1.75rem;
}

.hero .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .btn-container .btn {
  text-transform: uppercase;
  background: #250d3f;
  border: #250d3f;
}

.hero .btn-container .btn:hover {
  background-color: #431b6d;
}

.hero .hero-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.125rem;
  text-transform: uppercase;
}

.hero .hero-btn {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hero {
    height: 75vh;
  }
  .hero .hero-title {
    font-size: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-us-container {
  background-color: #f2f2f2;
  padding: 3rem;
}

.about-us-container .about-us-title {
  margin-bottom: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.about-us-container .about-us-text {
  color: #adacac;
  line-height: 2.15em;
}

@media (min-width: 768px) {
  .about-us-container .about-us-text {
    font-size: 20px;
  }
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-container .icon {
  font-size: 22px;
  margin-bottom: 2rem;
  color: #f30505;
}

.features-container .feature {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #adacac;
}

@media (min-width: 768px) {
  .features-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.feature-title {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.prices-title {
  padding: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.prices-container .card-list {
  list-style: none;
  padding: 0;
}

.prices-container .card-list li {
  color: #adacac;
  text-align: center;
  margin: 0.75rem;
}

.prices-container .card-title {
  padding: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.prices-container .card-text {
  color: #adacac;
}

.prices-container .card {
  padding: 1.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 1.5rem;
  border: none;
}

.prices-container .card .badge {
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 16px;
  background-color: #f23839 !important;
}

.prices-container .price-card-footer {
  background-color: none;
}

.prices-container .price {
  color: #f30505;
  font-size: 32px;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .prices-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem;
  }
  .prices-container .card {
    margin: 1.5rem;
  }
}

.contact-container {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact-container .form-group .btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-container label {
  display: none;
}

.contact-container .form-group {
  padding: 20px;
}

.contact-container input {
  margin-bottom: 1.5rem;
  padding: 10px 16px;
  border-radius: 10px;
  color: #0d0125b6;
  width: 100%;
}

.contact-container input::-webkit-input-placeholder {
  color: #0d0125b6;
}

.contact-container input:-ms-input-placeholder {
  color: #0d0125b6;
}

.contact-container input::-ms-input-placeholder {
  color: #0d0125b6;
}

.contact-container input::placeholder {
  color: #0d0125b6;
}

.contact-container h1 {
  margin-bottom: 1.25rem;
  text-align: center;
}

.contact-container textarea {
  width: 100%;
  border: none;
  padding: 2rem;
  margin-bottom: 1.125rem;
}

@media (min-width: 1024px) {
  .contact-container .form-group {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.dashboard-title {
  text-align: center;
  padding: 0.75rem;
  color: #0d0125b6;
  text-transform: capitalize;
}

.dashboard-content {
  max-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
  background-color: #e4e4e4;
}

.dashboard-body {
  display: -ms-grid;
  display: grid;
  padding: 15px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 1024px) {
  .dashboard-body {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.side-nav,
.dashboard {
  text-align: center;
}

.side-nav-form {
  border-bottom: 0.1px solid #adacac;
}

.side-nav-form .form-title {
  margin: 1.5rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .side-nav-form .form-title {
    white-space: nowrap;
  }
}

.side-nav-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-info {
  border-top: 1px solid #adacac;
  padding: 1.75rem;
}

.dashboard-card {
  padding: 0.2rem;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 13px 19px 5px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 13px 19px 5px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.dashboard-card:hover {
  -webkit-box-shadow: 0px 13px 19px 5px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 13px 19px 5px rgba(0, 0, 0, 0.32);
}

.dashboard-card .dashboard-card-body h5 {
  padding: 0.3rem;
  color: #0d0125b6;
  text-transform: capitalize;
  font-size: 20px;
}

.dashboard-card .dashboard-card-body h6 {
  font-size: 20px;
  color: #adacac;
}

.dashboard-card .dashboard-card-body .btn-primary {
  color: #adacac;
}

.nav-items {
  padding: 1.75rem;
  margin: 0;
}

.nav-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .dashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
  }
  .side-nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f2f2f2;
    color: #adacac;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: 0.5px solid #adacac;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1000px;
  }
  .side-nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .side-nav .navbar .nav-items {
    padding: 1.75rem;
  }
  .side-nav .navbar .nav-items li {
    margin-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
}

.equipment-container {
  padding: 0.75rem;
}

.equipment {
  padding: 0.5;
  text-transform: capitalize;
  text-align: center;
}

.equipment h1 {
  padding: 0.5rem;
}

.equipment .btn-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipment .btn-container button {
  margin-bottom: 1.125rem;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  max-height: 1000px;
  background-color: #f2f2f2;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form input {
  width: 100%;
  border: none !important;
  padding: 20px;
}

.form-container h1 {
  text-transform: uppercase;
  padding: 0.8rem;
  text-align: center;
  font-weight: 400;
}

.form-container .form-group {
  margin-bottom: 60px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 1.3rem;
}

.form-container .form-group .error {
  display: inline-block;
  margin-top: 15px;
  color: #f23839;
}

.form-container button {
  margin: 1rem;
  padding: 20px 12px 20px 12px;
}

@media (min-width: 768px) {
  .form-container {
    margin: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-container form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #250d3f;
}

option select {
  padding: 6px 10px;
  border-radius: 5px;
  border: 0.2px solid #f2f2f2;
}

.btn-primary {
  border: #250d3f !important;
  background-color: #250d3f !important;
}

.btn-primary:hover {
  background-color: #692c69 !important;
}

.btn-secondary {
  border: #f23839 !important;
  background-color: #f30505 !important;
}

.btn-secondary:hover {
  background-color: #f23839 !important;
}

li {
  list-style: none;
}

footer {
  padding: 20px;
  border-top: 1px solid #f2f2f2;
  color: #0d0125b6;
}
/*# sourceMappingURL=global.css.map */