@import "./modules/imports";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkPurple;
}

input {
  padding: 6px 10px;
  border-radius: 5px;
  border: 0.2px solid $lightGray;
}
.btn-primary {
  border: $darkPurple !important;
  background-color: $darkPurple !important;
  &:hover {
    background-color: rgb(105, 44, 105) !important;
  }
}
.btn-secondary {
  border: $lightRed !important;
  background-color: $lightRed !important;
}
li {
  list-style: none;
}

footer {
  padding: 20px;
  border-top: 1px solid $lightGray;
  color: $black;
}
