.dashboard-title {
  text-align: center;
  padding: 1.75rem;
  color: $black;
  text-transform: capitalize;
}
.dashboard-content {
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  background-color: rgb(228, 228, 228);
}
.dashboard-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.side-nav,
.dashboard {
  text-align: center;
}
.side-nav-form {
  visibility: hidden;
  padding: 1.75rem;
  .form-title {
    font-size: 10px;
    margin: 1.5rem;
    @media (min-width: 768px) {
      white-space: nowrap;
    }
  }
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.profile-info {
  border-top: 1px solid $gray;
  padding: 1.75rem;
}

.dashboard-card {
  padding: 0.5rem;
  background-color: $lightGray;
  box-shadow: 0px 13px 19px 5px rgba(0, 0, 0, 0.17);
  border: 1px solid $darkPurple;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 13px 19px 5px rgba(0, 0, 0, 0.32);
  }

  .dashboard-card-body {
    h5,
    h6 {
      padding: 0.75rem;
      color: $black;
      text-transform: capitalize;
    }
    h6 {
      font-size: 20px;
      color: $gray;
    }
    .btn-primary {
      color: $gray;
    }
  }
}

.nav-items {
  padding: 1.75rem;
  margin: 0;
  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .side-nav-content {
    display: flex;
    flex-direction: column;
  }
  .side-nav {
    display: flex;
    background-color: $lightGray;
    color: $gray;
    flex-direction: column;
    border-right: 0.5px solid $gray;
    height: 1000px;
    .navbar {
      display: flex;
      justify-content: center;
      .nav-items {
        padding: 1.75rem;
        li {
          margin-bottom: 18px;
          display: flex;
          flex-direction: column;
          cursor: pointer;
        }
      }
    }
  }

  .side-nav-form {
    visibility: visible;
    border-bottom: 0.1px solid $gray;
  }
}
