.downloads-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1.125rem;
  .downloads-items {
    display: flex;
    align-items: center;
    .download-links {
      display: flex;
      flex-direction: column;
      h2 {
        text-align: center;
      }
      button {
        margin: 0.25rem;
        @media (min-width: 1024px) {
          padding: 10px 6px;
        }
      }
    }
  }
}
