.equipment-container {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment {
  padding: 1.125rem;
  text-transform: capitalize;
  text-align: center;
  background-color: $lightGray;
  h1 {
    padding: 2.125rem;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button {
      margin-bottom: 1.125rem;
    }
  }
}
