.equipment-container {
  padding: 0.75rem;
}

.equipment {
  padding: 0.5;
  text-transform: capitalize;
  text-align: center;
  h1 {
    padding: 0.5rem;
  }
  .btn-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    button {
      margin-bottom: 1.125rem;
    }
  }
}
